
<div class="container">

    <h2>Productos</h2>

    {{!-- <% if(productos.length > 0){ %> ejs --}} 
    {{#if 'productos.length > 0' }}

    <table class="table" style="max-width: 1000px; text-align: center;">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
            </tr>
        </thead>

        <tbody>

            {{!-- <% productos.forEach(function(producto){ %> ejs --}}
            {{#each productos}}

            <tr>
                <th scope="row">{{../contador}}</th>
                <td>{{this.name}}</td>
                <td>${{this.price}}</td>
                <td><img width="100" src={{this.thumbnail}} alt="Imagen miniatura"></td>
            </tr>

            {{'contador++'}}   {{!-- No pude modificar el valor de la variable :/ --}}
            {{/each}}          

        </tbody>
    </table>
    {{else}}    
    <h2>No hay productos</h2>
    {{/if}}    
    
    <button class="btn btn-success" style="margin-top: 10px;"><a href="/" class="text-white">Volver</a></button>

</div>

