extends layout 

block medidor 
    //El guion permite definir variables
    - const estilo = "width:25%; height:20px"
    //El simbolo != permite insetar html parseado en lugar del string literal contenido en la variable
    h1(style="color:blue;")!=titulo 
    span=min+" "
    meter(value=nivel min=min max=max style=estilo)
    span=" "+maxee